{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'chat/css/room.css' %}">
{% endblock style %}

{% block content %}
    <div class="chat-log" id="chat-log"></div>
    <div class="input-bar">
        <img class="emoji-icon" src="{% static 'chat/images/emoji_icon.svg' %}">
        <input class="chat-message-input" id="chat-message-input" type="text" placeholder="Message">
        <button class="chat-message-submit" id="chat-message-submit" type="submit">
            <img class="emoji-icon" src="{% static 'chat/images/send_icon.svg' %}">
        </button>
    </div>

    {{ current_user_id|json_script:"current-user-id" }}
    {{ other_user_id|json_script:"other-user-id" }}

    <script src="{% static 'chat/js/room.js' %}"></script>
{% endblock content %}