@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Poppins:ital,wght@300;400;500;600;700&display=swap');

:root {
    /* Colors */
    --primary-color: #007bff;
    --secondary-color: #999999;
    --accent-color: #66b3ff;
    --neutral-color: #ffffff;

    /* Fonts */
    --primary-font: 'Francois One', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--secondary-font);
    width: 100vw;
    margin: 0;
    padding: 0;
}