@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    /* Colors */
    --primary-color: #544df0;
    --secondary-color: #808080;
    --accent-color: #6F69F2;
    --neutral-color: #ffffff;

    /* Fonts */
    --primary-font: "Francois One", sans-serif;
    --secondary-font: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}