header {
    width: 100%;
    padding: 10px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-text h1 {
    font-family: var(--primary-font);
    margin: 0;
    letter-spacing: 0.5px;

}

.logo-text a {
    text-decoration: none;
    color: var(--primary-color);
}


.navigation {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.navigation ul li a{
    cursor: pointer;
    color: var(--secondary-color);
    text-decoration: none;
}

.navigation ul li a:hover {
    color: var(--accent-color);
}

.navigation ul li a:active {
    color: var(--primary-color);
}