{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock style %}

{% block content %}
    <form method='POST'>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li class="error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}<br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br>
        <a href="{% url 'accounts:signup' %}" class="btn btn-secondary">Don't have an accounts? Sign Up</a>
    </form>
{% endblock content %}