<div class="logo-text">
    <h1><a href="{% url 'podlink:home' %}">PodLink</a></h1>
</div>
<nav class="navigation">
    <ul>
        <li><a href="#">Features</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Discover</a></li>
    </ul>
    {% if user.is_authenticated %}
        {% url 'podlink:profile_detail' user.pk as profile_url %}

        {% if request.path != profile_url %}
        <a class="btn btn-primary btn-login" href="{% url 'podlink:profile_detail' user.pk %}">User Panel</a>
        {% else %}
        <a class="btn btn-primary btn-login" href="{% url 'accounts:logout' %}">Logout</a>
        {% endif %}
    {% else %}
        <a class="btn btn-primary btn-login" href="{% url 'accounts:login' %}">Login</a>
    {% endif %}
</nav>
