body {
    background-color: #f6f7fb;
}

.text {
    max-width: 400px;
}

.text p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0;
}

.text h1 {
    font-weight: 500;
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    margin: 0 20px 20px;
}

.form-group {
    margin: 5px 0;
}

.form-group label {
    color: var(--secondary-color);
}

.form-group input,
.form-group select {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 8px 16px;
    background-color: #f6f7fb;
    letter-spacing: 0.4px;
    font-size: 1rem;
}

.form-group input:hover,
.form-group select:hover {
    box-shadow: 0 6px 15px 0 rgba(111, 105, 242, 0.3);
    background-color: #fff;
}

.form-group input:focus,
.form-group select:focus {
    box-shadow: 0 6px 15px 0 rgba(111, 105, 242, 0.3);
    outline: none;
    border: 1px solid var(--accent-color);
    background-color: #fff;
}